@model LayerEntity.Entities.Kategori

@{
    ViewData["Title"] = "AdminKategoriDetay";
    Layout = "~/Views/Shared/AdminSablon.cshtml";
}

<h1>Kategori Detay</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAciklamasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriDurum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriDurum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AdminKategoriGuncelle" asp-route-id="@Model?.KategoriID">Güncelle</a> |
    <a asp-action="AdminKategoriListeleme">Listeye Dön</a>
</div>
