@model LayerEntity.Entities.Kategori

@{
    ViewData["Title"] = "AdminKategoriSil";
    Layout = "~/Views/Shared/AdminSablon.cshtml";
}

<h1>Kategori Sil</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriAciklamasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriAciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriDurum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriDurum)
        </dd>
    </dl>
    
    <form asp-action="AdminKategoriSil">
        <input type="hidden" asp-for="KategoriID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="AdminKategoriListeleme">Listeye Dön</a>
    </form>
</div>
