@model LayerEntity.Entities.Yazi

@{
    ViewData["Title"] = "AdminYaziDetay";
    Layout = "~/Views/Shared/AdminSablon.cshtml";
}

<h1>Yazı Detay</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icerik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KucukResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KucukResim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyukResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyukResim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YaziDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YaziDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAciklamasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar.YazarAciklamasi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AdminYaziGuncelle" asp-route-id="@Model?.YaziID">Güncelle</a> |
    <a asp-action="AdminYaziListeleme">Listeye Dön</a>
</div>
